setuptools
fastapi>=0.100.0
uvicorn>=0.20.0
pandas>=2.0.0
yfinance>=0.2.36
yahooquery
curl_cffi
requests
openpyxl
langchain-google-genai
python-multipart
python-docx
python-dotenv
fpdf2
numpy
playwright
nest_asyncio
