fastapi>=0.100.0
uvicorn>=0.20.0
pandas>=2.0.0
yfinance>=0.2.36
pandas_datareader
curl_cffi
requests
beautifulsoup4
openpyxl
langchain-google-genai
python-multipart
yahooquery
docx
python-docx
python-dotenv
fpdf
numpy
